<section class="container mt-5">
    <div>
      <table class="table m-3">
        <thead>
          <tr>
             <th scope="col">Id</th>
             <th scope="col">Title</th>
             <th scope="col">Description</th>
             <th scope="col">Price</th>
             <th scope="col">Quantity</th>
             <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody *ngFor="let orderLine of orderLines">
         <tr>
           <th scope="row">{{orderLine.id}}</th>
           <td>{{orderLine.product.title}}</td>
           <td>{{orderLine.product.description}}</td>
           <td>{{orderLine.product.price}}</td>
           <td>
             <select [(ngModel)]="orderLine.quantityOfProducts" class="mb-lg-3 custom-select" name="selection">
               <option *ngFor="let number of numberArray(orderLine.product.availableQuantity, orderLine)"
                       name="option"
                       value="{{number}}">
                 {{number}}
               </option>
             </select>
          </td>
             <td>
              <button (click)="deleteItem(orderLine)"><div class="trash"></div></button>
             </td>
         </tr>
        </tbody>
         <tfoot>
          <tr>
            <th scope="col">Total:</th>
            <td></td>
            <td></td>
            <th scope="col">{{totalPrice | number : '1.2-2'}}</th>
            <td></td>
            <td></td>
          </tr>
         </tfoot>
      </table>
    </div>
 </section>
