section{
    min-height: 100vh;
  }

.trash{
  height: 30px;
  width: 30px;
  background-image: url("src\assets\images\trash.svg");
  border: none;
}

.trash-button{
  border: none;
  background: none;
}