section{
    min-height: 100vh;
  }

.trash{
  height: 30px;
  width: 30px;
  background-image: url("src\assets\images\trash.svg");
  border: none;
}

table td{
  padding-right: 100px;
}

button{
  border:none; 
  background:none;
}