<section class="container mt-5">
    <div>
      <table class="table m-3">
        <thead>
          <tr>
             <th scope="col">Id</th>
             <th scope="col">Date</th>
             <th scope="col">Cost</th>
             <th scope="col">Delivery Address</th>
          </tr>
        </thead>
        <tbody *ngFor="let order of orders.slice().reverse();">
         <tr>
           <th scope="row">{{order.id}}</th>
           <td>{{ order.dateOfOrder | date:'dd.MM.yyyy'}}</td>
           <td>{{order.totalCost | number : '1.2-2'}}</td>
           <td>{{order.deliveryAddress}}</td>
         </tr>
        </tbody>
      </table>
    </div>
 </section>
 