<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      [ngClass]="{hidden: (isHandset$ | async)!.matches}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="product">Product</a>
      <a *ngIf="isLoggedIn" mat-list-item routerLink="customer">{{toUpperCase(currentUser.firstName)}}</a>
      <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="new-product">Add new Product</a>
      <a *ngIf="hasRole('ROLE_ADMIN')" mat-list-item routerLink="admin-products-list">Admin Products</a>
      <a mat-list-item routerLink="cart">Cart</a>
      <a mat-list-item routerLink="orders">Orders</a>
      <mat-divider></mat-divider>
      <a *ngIf="isLoggedIn" mat-list-item (click)="logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span routerLink="/">Online Store App</span>
      <span class="spacer"></span>
      <a routerLink="product">Product</a>
      <button *ngIf="isLoggedIn" class="mobile-menu" mat-button [matMenuTriggerFor]="menu">{{toUpperCase(currentUser.firstName)}}</button>
      <mat-menu #menu="matMenu">
      <button *ngIf="hasRole('ROLE_ADMIN')" mat-menu-item routerLink="customer">Customer List</button>
      <button *ngIf="hasRole('ROLE_ADMIN')" mat-menu-item routerLink="admin-products-list">Admin Products</button>
        <button *ngIf="hasRole('ROLE_ADMIN')" mat-menu-item routerLink="new-product">Add new Product</button>
        <button mat-menu-item routerLink="profile">Profile</button>
        <button mat-menu-item routerLink="cart">Cart</button>
        <button mat-menu-item routerLink="orders">Orders</button>
        <mat-divider></mat-divider>
        <button mat-menu-item *ngIf="isLoggedIn" (click)="logout()" routerLink="/" class="pointer-event">Logout</button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

