.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

@media (min-width: 957px) {
  .sidenav{
    display: none;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

mat-toolbar a{
  display: inline-block;
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

@media (max-width: 959px){
  .mobile-menu{
    display: none;
  }
}

mat-toolbar mat-primary{
  color:#343a40;
}

button {
  font-size: 1em;
}

@media (max-width: 959px) {
  mat-toolbar a{
    display: none;
  }
}