<section class="container d-flex flex-wrap justify-content-around mt-5">
  <div class="d-flex flex-column" >
    <h1>{{selectedProduct.title}}</h1>
    <ngb-carousel>
      <ng-template ngbSlide *ngFor="let image of selectedProduct.images">
        <div>
          <img src="{{image.imageUrl}}" alt="{{image.imageTitle}}">
        </div>
      </ng-template>
    </ngb-carousel>
  </div>


  <div class="d-flex flex-column mobile_custom">
    <h1>Description: </h1>
    <p>{{selectedProduct.description}}</p>
    <p><strong>Price: {{selectedProduct.price}} EUR</strong></p>
    <p>Quantity: {{selectedProduct.quantity}}</p>
    <select *ngIf="selectedProduct.quantity > 0"
            [(ngModel)]="selectedQuantity"
            class="mb-lg-3 custom-select"
            name="selection">
      <option *ngFor="let number of quantity"
              name="option"
              value="{{number}}">
        {{number}}
      </option>
    </select>
    <div *ngIf="selectedProduct.quantity == 0" class="mb-lg-3">
      <i>Product is out of Stock</i>
    </div>
    <i class="mb-lg-3 ">{{selectedProduct.category.name}}</i>
    <p *ngIf="selectedQuantity > 0">Total price: {{selectedQuantity * selectedProduct.price}}</p>
    <button *ngIf="selectedProduct.quantity > 0"
            mat-raised-button color="primary"
            (click)="addToCart(selectedProduct.id)">Add to Cart</button>
  </div>
</section>
