<section class="container d-flex justify-content-around mt-5">
  <div class="d-flex flex-column">
    <h1>{{selectedProduct.title}}</h1>
    <img src="{{selectedProduct.thumbnail}}" alt="{{selectedProduct.title}}" class="img-fluid">
  </div>
  <div class="d-flex flex-column">
    <h1>Description: </h1>
    <p>{{selectedProduct.description}}</p>
    <p><strong>Price: {{selectedProduct.price}} EUR</strong></p>
    <p>Quantity: {{selectedProduct.quantity}}</p>
    <select [(ngModel)]="selectedQuantity" #selectElement="ngModel" class="mb-lg-3 custom-select" name="selection">
      <option *ngFor="let number of quantity"
              name="option"
              value="{{number}}">
        {{number}}
      </option>
    </select>
    <i class="mb-lg-3 ">{{selectedProduct.category.name}}</i>
    <button mat-raised-button color="primary" (click)="addToCart(selectedProduct.id)">Add to Cart</button>
  </div>
</section>
