<section class="container mt-5">
   <div>
     <table class="table m-3">
       <thead>
         <tr>
            <th scope="col">Id</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Address</th>
            <th scope="col">Active</th>
            <th scope="col">Actions</th>
         </tr>
       </thead>
       <tbody *ngFor="let customer of customers">
        <tr>
          <th scope="row">{{customer.id}}</th>
          <td>{{customer.firstName}}</td>
          <td>{{customer.lastName}}</td>
          <td>{{customer.address.city}},
            {{customer.address.country}}</td>
            <td>{{customer.active}}</td>
            <td>
              <button (click) = "updateCustomer(customer.id)" class="mr-3"><div class="update"></div></button>
              <button (click) = "changeCustomerStatus(customer.id, customer.active)" class="mr-3"><div class="deactivate"></div></button>
            </td>
        </tr>
       </tbody>
     </table>
   </div>
</section>
