<main>
  <section class="jumbotron jumbotron-fluid text-center">
    <div class="container">
      <h1 class="display-4">Welcome to our store!</h1>
      <p class="lead">Please register or login to see the full list of our products.</p>
      <div class="container d-flex flex-row justify-content-center">
        <a mat-raised-button color="primary" routerLink="login" class="mr-2 text-decoration-none">Login</a>
        <a mat-raised-button color="primary" routerLink="register" class="text-decoration-none">Register</a>
      </div>
    </div>
  </section>
  <section class="mt-2 mb-2">
    <div>
      <h1 class="text-center">Check out our recent products: </h1>
    </div>
    <div *ngIf="latestProducts.length === 0" class="text-center">
      <i>There are no products yet.</i>
    </div>
    <div class="d-flex justify-content-center flex-wrap">
      <div *ngFor="let product of latestProducts" class="m-3 text-center">
        <mat-card class="card_main" (click)="goToProductDescription(product.id)">
          <mat-card-title>{{product.title}}</mat-card-title>
          <img mat-card-lg-image src="{{product.thumbnail}}"
               alt="product image" id="image">
          <mat-card-content class="mt-2">
            <p><strong>Price: {{product.price}} EUR</strong></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>
  <section class="mt-lg-5 mb-lg-5">
    <div class="container">
      <h1 class="text-center">About Us</h1>
      <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Aliquam luctus nibh vel vulputate suscipit. In finibus dolor vitae est aliquet semper.
        Pellentesque nec orci eu dolor dictum elementum ullamcorper sit amet metus.
        Phasellus venenatis, felis sed posuere scelerisque, urna nulla vehicula tellus, nec porttitor nisi libero at lorem.
        Nunc blandit leo augue, vel dignissim erat malesuada in. Donec auctor turpis quis fringilla consequat.
        Morbi at dui vel ligula vestibulum tincidunt. Sed venenatis sagittis est, sed viverra neque fringilla sed.
        Vestibulum gravida lacus vel justo volutpat tempus.
        In aliquet, odio quis porttitor convallis, massa tortor luctus sapien, vel finibus tortor tellus sit amet mauris.
        Quisque ultricies maximus facilisis.</p>
    </div>
  </section>
</main>
