<section class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to our store!</h1>
    <p class="lead">Please register or login to see the full list of our products.</p>
    <div class="container d-flex flex-row justify-content-center">
      <a routerLink="login" class="btn btn-primary mr-2">Login</a>
      <a routerLink="register" class="btn btn-primary">Register</a>
    </div>
  </div>
</section>
<section *ngFor="let product of products">
  <div>{{product.title}}</div>
</section>
