<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">Online Store App</a>
  <div ngbNav class="navbar">
     <div class="d-flex">
        <a class="nav-link" routerLink="product">Product</a>
        <li ngbDropdown class="nav-item">
          <a href (click)="false" class="nav-link" ngbDropdownToggle>User</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem routerLink="customer">Customer's List</button>
            <button ngbDropdownItem>Orders</button>
            <button ngbDropdownItem>Profile</button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>Cart</button>
          </div>
        </li>
     </div>
  </div>
</nav>

