<section class="col-md-6 offset-md-3 mt-5">
        <h3> Update Customer </h3>
        <form ngForm (ngSubmit)="f.form.valid && onSubmit()" #f=ngForm >

            <div class="form-group">
                <label> First Name </label>
                <input type="text" class="form-control" id="firstNamee"
                [(ngModel)] = "customer.firstName" name="firstName">
            </div>

            <div class="form-group">
                <label> Last Name </label>
                <input type="text" class="form-control" id="lastName"
                [(ngModel)] = "customer.lastName" name="lastName">
            </div>

            <div class="form-group">
                <label> City </label>
                <input type="text" class="form-control" id="city"
                [(ngModel)] = "customer.address.city" name="city">
            </div>

            <div class="form-group">
                <label> Country </label>
                <input type="text" class="form-control" id="country"
                [(ngModel)] = "customer.address.country" name="country">
            </div>

            <button mat-raised-button color="primary" class="mb-5" type="submit">Submit</button>

        </form>
    </section>
