<section class="container">
  <h1 class="text-center m-3">List of all our Products</h1>
  <div class="d-flex flex-wrap">
    <div *ngFor="let product of products">
      <div class="card m-3">
        <img class="card-img-top"
             src="https://images.samsung.com/is/image/samsung/ee-uhd-tu8000-ue82tu8072uxxh-front-black-269712290?$720_576_PNG$"
             alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title">{{product.title}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</section>
