<section class="col-md-6 offset-md-3 mt-5">
  <h2>Add new Product</h2>
  <form ngForm (ngSubmit)="f.form.valid && onSubmit()" #f=ngForm>

    <div class="form-group">
      <label> Title </label>
      <input type="text" class="form-control" id="title"
             [(ngModel)] = "product.title" name="title">
    </div>

    <div class="form-group">
      <label> Description </label>
      <input type="text" class="form-control" id="description"
             [(ngModel)] = "product.description" name="description">
    </div>

    <div class="form-group">
      <label> Price </label>
      <input type="text" class="form-control" id="price"
             [(ngModel)] = "product.price" name="price">
    </div>

    <div class="form-group">
      <label> Quantity </label>
      <input type="text" class="form-control" id="quantity"
             [(ngModel)] = "product.quantity" name="quantity">
    </div>

    <div class="form-group">
      <label> Image URL </label>
      <input type="text" [(ngModel)]="product.thumbnail" class="form-control" id="thumbnail"
             name="thumbnail">
    </div>

    <div class="form-group d-flex flex-column w-25">
      <label>Select Category:</label>
      <select [(ngModel)]="category" class="mb-lg-3 custom-select">
        <option
          *ngFor="let category of categories"
          value="{{category}}">
          {{toUpperCase(category.name)}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label> Temporary field to connect user with Product (Add name) </label>
      <input type="number" [(ngModel)]="userId" class="userName" id="userName"
             name="thumbnail">
    </div>

    <button mat-raised-button color="primary">Add</button>

  </form>
</section>
